[package]
name = "icepocha"
version = "0.1.0"
edition = "2021"

[workspace]
members = [".", "api" ,"entity", "migration"]

[dependencies]
icepocha-api = { path = "api" }
once_cell = "1.18.0"

[profile.release]
lto = true
panic = "abort"
